---
import { Picture } from 'astro:assets';
import Heco1 from '../../assets/images/heco/heco1.jpg'
import Walas4 from '../../assets/images/walas/walas4.jpg'
import Rds3 from '../../assets/images/rds/rds3.jpg'
import Rds4 from '../../assets/images/rds/rds4.jpg'
import Rds5 from '../../assets/images/rds/rds5.jpg'
import Rgn4 from '../../assets/images/rgn/rgn4.jpg'
---

<section class="bg-white dark:bg-gray-900">
    <h2 class="sr-only">Cases</h2>
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            <div>
                <Picture class="h-auto aspect-[4/3] object-cover w-full rounded-lg" src={Heco1} formats={['avif', 'webp']} alt="" />
            </div>
            <div>
                <Picture class="h-auto aspect-[4/3] object-cover w-full rounded-lg" src={Rgn4} formats={['avif', 'webp']} alt="" />
            </div>
            <div>
                <Picture class="h-auto aspect-[4/3] object-cover w-full rounded-lg" src={Walas4} formats={['avif', 'webp']} alt="" />
            </div>
            <div>
                <Picture class="h-auto aspect-[4/3] object-cover w-full rounded-lg" src={Rds3} formats={['avif', 'webp']} alt="" />
            </div>
            <div>
                <Picture class="h-auto aspect-[4/3] object-cover w-full rounded-lg" src={Rds4} formats={['avif', 'webp']} alt="" />
            </div>
            <div>
                <Picture class="h-auto aspect-[4/3] object-cover w-full rounded-lg" src={Rds5} formats={['avif', 'webp']} alt="" />
            </div>
        </div>
    </div>
</section>